@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Media Player Sections */
.media-sections{
    display: flex;
    justify-content: space-between;
}
.main-media-section{
    width: 65%;
    height: 100vh;
    background-color: brown;
}
.yt-video{
    width: 100%;
    height: 500px;
    background-color: orange;
}



.second-media-section{
    width: 35%;
    height: 100vh;
    background-color: cornflowerblue;
}
