@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
    font-family: 'Roboto', sans-serif;
    color: white;
}
.material-icons {
    font-family: 'Material Icons';
}

/* * Media Player Sections */
.media-sections {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}

/* TODO Principal Video and information */
.main-media-section {
    width: 65%;
    height: 100vh;
    background-color: transparent;
    /* border: 1px solid white; */
}
.yt-video {
    display: flex;
    width: 100%;
    height: 550px;
    /* background-color: burlywood; */
}
iframe {
    margin: 20px 20px;
}
.video-info {
    width: 100%;
    height: 100px;
    /* border: 1px solid white; */
}

.video-tittle {
    width: 100%;
    height: 45px;
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    padding-top: 23px;
}
h1.tittle {
    font-family: 'Roboto', sans-serif;    
    font-weight: 400;
    font-size: 18px;
    word-break: break-word;
    white-space: normal;
}
.yt-container{
    position: relative;
    width: 96%;
    padding-bottom: 56.25%; 
    height: 0;
}
.yt-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 530px;
}
.main-info {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-bottom: 3px;
}
h3.views-count {
    color: #aaa;
    font-size: 14.3px;
    font-weight: 400;
}
.main-info-buttons {
    width: 50%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 180px;
    /* border: 1px solid white; */
}
.info-buttons{
    width: 100%;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid rgb(216, 18, 18); */
}
.thumb-up, 
.thumb-down,
.share,
.add-list,
.dots {
border-radius: 100% ;
height: 41px;
width: 41px;
padding-top: 5px;
background-color: rgba(0, 0, 0, 0);
gap: 10px;
} 
.share,
.dots {
    font-size: 23px;
}
.line1 {
    border: 1px solid rgba(255, 255, 255, 0.061);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.404);
    width: 95%;
    margin-left: 2.5%;
    margin-top: px;
}
.line-likes {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.404);
    width: 15%;
    margin-left: 48.5%;
}
/* ! End Principal Video and information Section */

/* * Recommendation Section */
.second-media-section {
    width: 35%;
    height: 100vh;
    background-color: transparent;
    border: 1px solid white;
}
.recommendation img {
    width: 150px;
    height: 96px;
}

